html {
  font-size: 62.5%; }
  @media screen and (max-width: 1200px) {
    html {
      font-size: 50%; } }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  color: #181919;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.header {
  height: auto;
  background-color: #e5ebf9; }

.nav {
  background-color: #e5ebf9;
  height: 8rem;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 10; }
  .nav__container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 3rem; }
  .nav__logo {
    height: 5rem; }
  .nav__title {
    font-size: 3.2rem;
    font-weight: 1000;
    color: #181919;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0.5rem;
    margin-left: 1rem; }
    @media screen and (max-width: 28.125em) {
      .nav__title {
        display: none; } }
  .nav__list {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 800;
    text-transform: uppercase;
    list-style-type: none;
    height: 100%; }
    @media screen and (max-width: 43.75em) {
      .nav__list {
        visibility: hidden;
        width: 0; } }
    .nav__list--item {
      height: 100%; }
  .nav__link:link, .nav__link:visited {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #181919;
    padding: 0 1rem;
    transition: all 0.2s;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem; }
  .nav__link:hover, .nav__link:active {
    color: #e5ebf9;
    background-color: #124dff; }
  .nav__mobile {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: #181919;
    background-color: #e5ebf9;
    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: 1000;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .nav__mobile--btn {
      background-color: #181919;
      height: 0.5rem;
      width: 5rem;
      z-index: 200;
      border-radius: 2rem;
      position: relative;
      display: none; }
      @media screen and (max-width: 43.75em) {
        .nav__mobile--btn {
          display: block; } }
      .nav__mobile--btn::before, .nav__mobile--btn::after {
        content: "";
        background-color: #181919;
        height: 0.5rem;
        width: 5rem;
        position: absolute;
        border-radius: 30px; }
      .nav__mobile--btn::before {
        transform: translateY(-1rem); }
      .nav__mobile--btn::after {
        transform: translateY(1rem); }
    .nav__mobile--item {
      display: flex;
      justify-content: space-around;
      width: 100%; }
    .nav__mobile--link:link, .nav__mobile--link:visited {
      color: #181919;
      text-decoration: none;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      position: relative;
      z-index: 110; }
    .nav__mobile--link:hover, .nav__mobile--link:active {
      background-color: #124dff;
      color: #e5ebf9;
      cursor: pointer; }

.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  overflow: hidden; }
  @media screen and (max-width: 75em) {
    .hero {
      height: auto; } }
  @media screen and (max-width: 50em) {
    .hero {
      grid-template-columns: repeat(6, 1fr); } }
  .hero__background {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/-1;
    grid-row: 1/-1;
    font-size: 35rem;
    font-weight: 1000;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    color: #e5ebf9;
    text-shadow: 2px 5px 20px rgba(0, 0, 0, 0.4); }
  .hero__content {
    grid-row: 2/-1;
    grid-column: 1/8;
    margin-top: 7rem;
    padding-bottom: 4rem; }
    @media screen and (max-width: 75em) {
      .hero__content {
        padding: 2rem 3rem 4rem 3rem; } }
    @media screen and (max-width: 50em) {
      .hero__content {
        grid-row: 4/-1;
        grid-column: 1/-1;
        z-index: 10;
        background-color: rgba(24, 25, 25, 0.1);
        backdrop-filter: blur(10px);
        /* if backdrop support: very transparent and blurred */ } }
    @media screen and (max-width: 31.25em) {
      .hero__content {
        text-align: center;
        margin-top: 0;
        grid-row: 1/-1;
        grid-column: 1/-1;
        padding: 2rem;
        padding-top: 17rem;
        padding-bottom: 12rem; } }
    .hero__content--header {
      font-size: 4.2rem;
      margin-bottom: 4rem; }
      .hero__content--header span {
        color: #124dff; }
    .hero__content--paragraph {
      width: 80%;
      font-size: 2.8rem;
      margin-bottom: 6.2rem; }
      @media screen and (max-width: 31.25em) {
        .hero__content--paragraph {
          width: 100%;
          font-weight: 400;
          font-size: 3.2rem; } }
  .hero__image {
    width: 100%;
    grid-row: 1/-1;
    margin-top: 4rem;
    grid-column: 7/-1;
    z-index: 1; }
    @media screen and (max-width: 50em) {
      .hero__image {
        grid-row: 1/6;
        grid-column: 1/-1;
        width: 90%; } }
  .hero__icons {
    display: flex;
    gap: 10px;
    margin-top: 3rem;
    margin-left: 3rem; }
    @media screen and (max-width: 31.25em) {
      .hero__icons {
        justify-content: center; } }
  .hero__icon {
    width: 4.8rem;
    height: 4.8rem;
    fill: #124dff; }
    .hero__icon:hover {
      fill: #181919; }

.services {
  padding-top: 8rem;
  background-color: #181919;
  z-index: 100;
  padding-bottom: 6rem;
  z-index: 11; }
  .services__box {
    border-radius: 0.9rem;
    min-height: 50rem;
    margin-bottom: 4rem;
    background-image: linear-gradient(105deg, rgba(18, 77, 255, 0.9) 0%, rgba(18, 77, 255, 0.9) 50%, transparent 50%), url("../img/brand.jpg");
    background-size: cover;
    background-position: left;
    padding-left: 2rem;
    position: relative; }
    @media screen and (max-width: 47em) {
      .services__box {
        background-image: linear-gradient(105deg, rgba(18, 77, 255, 0.9) 0%, rgba(18, 77, 255, 0.9) 50%, rgba(18, 77, 255, 0.9) 50%);
        margin: 0 2rem; } }
    .services__box--heading {
      width: 50%;
      padding: 1.5rem 3rem;
      font-size: 10rem;
      letter-spacing: 0.3rem;
      font-weight: 1000;
      color: #e5ebf9;
      margin-bottom: 5rem; }
      @media screen and (max-width: 47em) {
        .services__box--heading {
          width: 100%; } }
      @media screen and (max-width: 21.8em) {
        .services__box--heading {
          font-size: 7rem;
          padding: 1.5rem 1rem; } }
    .services__box--paragraph {
      width: 45%;
      padding-left: 3rem;
      font-size: 2.8rem;
      padding-bottom: 3rem; }
      @media screen and (max-width: 47em) {
        .services__box--paragraph {
          width: 90%; } }
  .services__controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }
  .services__icon {
    fill: rgba(229, 235, 249, 0.5);
    height: 7rem;
    width: 3.2rem; }
  .services__map {
    margin: 2rem auto;
    height: 0.7rem;
    width: 35rem;
    display: flex;
    justify-content: space-around; }
    .services__map .map {
      display: inline-block;
      height: 100%;
      width: 10rem;
      background-color: #e5ebf9;
      border-radius: 50px; }
      @media screen and (max-width: 21.8em) {
        .services__map .map {
          width: 8rem; } }
    .services__map .active {
      background-color: rgba(229, 235, 249, 0.2); }

.works {
  background-color: #e5ebf9;
  padding-bottom: 12rem;
  padding-top: 8rem; }
  .works__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-row-gap: 4rem;
    grid-column-gap: 4rem;
    justify-content: center; }
    .works__box--card {
      display: flex;
      flex-direction: column;
      border-radius: 0.9rem;
      overflow: hidden;
      box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.4); }
      .works__box--card .card-image {
        width: 100%; }

.cta {
  background-color: #181919;
  margin-top: 0rem;
  padding-top: 8rem;
  padding-bottom: 1rem; }
  .cta__box {
    border-radius: 0.9rem;
    margin-bottom: 4rem;
    background-image: linear-gradient(105deg, rgba(18, 77, 255, 0.9) 0%, rgba(18, 77, 255, 0.9) 50%, rgba(229, 235, 249, 0.85) 50%), url("../img/brand.jpg");
    background-size: cover;
    background-position: left;
    padding-left: 2rem;
    padding-bottom: 4rem;
    display: flex; }
    @media screen and (max-width: 50em) {
      .cta__box {
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(105deg, rgba(24, 25, 25, 0.9) 0%, rgba(24, 25, 25, 0.9) 50%, rgba(24, 25, 25, 0.85) 50%);
        padding-left: 0;
        gap: 4rem; } }
    .cta__box--form {
      padding-top: 4rem;
      width: 50%;
      text-align: center; }
      @media screen and (max-width: 50em) {
        .cta__box--form {
          width: 95%;
          background-color: #124dff;
          padding-bottom: 4rem;
          border-radius: 0.9rem; } }
      .cta__box--form .btn {
        margin-top: 8rem;
        text-align: left;
        border-radius: 0.9rem; }
    .cta__box--about {
      padding-top: 4rem;
      width: 50%;
      text-align: center; }
      @media screen and (max-width: 50em) {
        .cta__box--about {
          width: 95%;
          background-color: #e5ebf9;
          padding-bottom: 4rem;
          border-radius: 0.9rem; } }
      .cta__box--about .btn {
        margin-top: 8rem;
        text-align: left;
        border-radius: 0.9rem; }
        @media screen and (max-width: 59em) {
          .cta__box--about .btn {
            margin-top: 4rem; } }
  .cta__paragraph {
    text-align: left;
    padding: 0 4rem;
    font-size: 2rem;
    line-height: 1.6; }
  .cta__form {
    display: flex;
    flex-direction: column; }
    .cta__form--input {
      font-size: 2.4rem;
      font-family: inherit;
      width: 80%;
      margin: 3rem 0 0 3rem;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #e5ebf9;
      padding: 0.5rem;
      color: #e5ebf9;
      outline: none; }
      .cta__form--input::-webkit-input-placeholder {
        color: #e5ebf9;
        letter-spacing: 1px;
        font-family: inherit;
        font-size: 2.4rem;
        font-weight: 100;
        background-color: transparent; }
      .cta__form--input:focus:invalid {
        border-bottom: 2px solid red;
        color: red; }
      .cta__form--input:valid {
        background-color: transparent; }

.footer {
  background-color: #181919;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  color: #e5ebf9;
  border-top: 2px solid #124dff; }
  .footer__box {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer__icons {
    display: flex;
    gap: 2rem;
    align-self: center; }
  .footer__icon {
    height: 4.2rem;
    width: 4.2rem;
    fill: #e5ebf9; }
    .footer__icon:hover {
      fill: #124dff; }
  .footer__paragraph {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 1rem;
    align-self: center;
    font-weight: 100; }

.btn {
  font-size: 2.4rem;
  color: #e5ebf9;
  padding: 1.5rem 3rem;
  background-color: #124dff;
  outline: none;
  margin-left: 1rem;
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.4);
  text-decoration: none; }
  .btn--link {
    color: #e5ebf9;
    text-decoration: none; }

.btn-dark {
  background-color: #181919; }

.btn-form {
  display: inline-block;
  align-self: center;
  text-align: center; }

.heading {
  text-align: center;
  margin-bottom: 4rem; }

.heading-primary {
  color: #e5ebf9;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 4rem; }

.heading-secondary {
  color: #124dff;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1rem; }

.hidden {
  display: none; }

.mobile {
  visibility: hidden; }

.dark {
  color: #181919; }

.card__heading--main {
  font-size: 2.8rem;
  color: #124dff;
  margin-top: 1.5rem;
  margin-bottom: 1rem; }

.card__heading--sub {
  font-size: 2.8rem;
  color: #181919;
  margin-top: 0.1rem;
  margin-bottom: 3rem; }

.card__paragraph {
  font-size: 2rem;
  margin-bottom: 5rem; }

.card__btn {
  border: none;
  outline: none;
  background-color: #124dff;
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: 800;
  color: #e5ebf9;
  text-transform: uppercase;
  justify-self: center; }

.center {
  margin: 0 auto; }

.card__text {
  padding: 0 2rem; }
